.functions:hover{
-fx-border-color:Black;
}

.exit:hover{
-fx-border-color:#2E86C1;
}

.addDriver:hover{
-fx-border-color:Red;
}

.back:hover{
-fx-border-color:Red;
}
.text-area .content{
      -fx-background-color: #30354E;
}
 .text-area {
     -fx-font-family: Verdana;
     -fx-font-size: 12;
     -fx-text-fill: #F15A42;
 }